*.hi
*.prof
*~
*.o
*.dyn_hi
*.dyn_o
*.info
/.ghc.environment.*
/dist
/dist-newstyle
/examples/*.alex.hs
/examples/*.happy.hs
/examples/*.bin
/examples/*.exe
/examples/wyvern/*.alex.hs
/old-*/
/tests/*.[dign].hs
/tests/*.[dign].bin
/tests/*.[dign].exe
.cabal-sandbox
.stack-work
cabal.sandbox.config
/src/TAGS
/TAGS
/stack.yaml.lock
