*.hi
*.prof
*~
*.o
*.info
/.ghc.environment.*
/data/
/dist
/dist-newstyle
/examples/*.alex.hs
/examples/*.happy.hs
/examples/*.bin
/examples/*.exe
/old-*/
/tests/*.[gn].hs
/tests/*.[gn].bin
/tests/*.[gn].exe
.cabal-sandbox
.stack-work
cabal.sandbox.config
/src/TAGS
