*.hi
*.prof
*~
*.o
*.info
/.ghc.environment.*
/data/
/dist
/dist-newstyle
/docbook/alex.1
/docbook/alex.pdf
/docbook/alex/
/docbook/autom4te.cache/
/docbook/configure
/docbook/config.log
/docbook/config.mk
/docbook/config.status
/examples/*.alex.hs
/examples/*.happy.hs
/examples/*.bin
/examples/*.exe
/tests/*.[gn].hs
/tests/*.[gn].bin
/tests/*.[gn].exe
.cabal-sandbox
.stack-work
cabal.sandbox.config
/src/TAGS
/doc/_build/
