# Fill-in/fix authorship information for migrated commits.  See
# git-shortlog(1) for details.

Alain Cremieux <alcremi@pobox.com>	alcremi@pobox.com <unknown>

Alexander Biehl <alex@scarf.sh> alexbiehl <alex.biehl@gmail.com>

Duncan Coutts <duncan@haskell.org>			Duncan Coutts	<duncan.coutts@worc.ox.ac.uk>
Duncan Coutts <duncan@haskell.org> <duncan@community.haskell.org>

Gwern <gwern0@gmail.com>		gwern0@gmail.com <unknown>

John Ericson <John.Ericson@Obsidian.Systems> <git@JohnEricson.me>

Mike Thomas <mthomas@gil.com.au>	mthomas		<unknown>

Neil Mitchell <ndmitchell@gmail.com>  <unknown>

Omer Agacan <omeragacan@gmail.com> osa1

Ross Paterson <ross@soi.city.ac.uk>	ross		<unknown>

Sebastian Graf <sebastian.graf@kit.edu> <sgraf1337@gmail.com>

Sergey Vinokurov <serg.foo@gmail.com> <1149355+sergv@users.noreply.github.com>

Simon Marlow <marlowsd@gmail.com>	simonmar	<unknown>
Simon Marlow <marlowsd@gmail.com>			<simonmar@microsoft.com>

Sven Panne <sven.panne@aedion.de>	panne		<unknown>
Sven Panne <sven.panne@aedion.de>	sven.panne@aedion.de <unknown>
