name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  main:
    name: GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc:
          - "8.0.2"
          - "8.2.2"
          - "8.4.4"
          - "8.6.5"
          - "8.8.4"
          - "8.10.7"
          - "9.0.2"
          - "9.2.8"
          - "9.4.8"
          - "9.6.7"
          - "9.8.4"
          - "9.10"
          - "9.12"
          - "9.14"
        include:
          - ghc: "9.14"
            os:  macos-latest
          - ghc: "9.14"
            os:  windows-latest

    steps:
    - uses: actions/checkout@v6

    - uses: haskell-actions/setup@v2
      id: setup
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: "latest"
        cabal-update: true

    - uses: actions/cache@v5
      name: Cache cabal stuff
      with:
        path: |
          ${{ steps.setup.outputs.cabal-store }}
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}

    - name: Versions
      run: |
        cabal --version

    - name: Install alex & happy
      run: |
        cd ../
        cabal install alex happy

    - name: Unpack
      run: |
        cp src/Parser.y src/Parser.y.boot
        cp src/Scan.x src/Scan.x.boot
        cabal sdist --ignore-project --output-directory .
        cabal get alex-*.tar.gz

    - name: Build
      run: |
        cd alex-*/
        cabal build all --enable-tests --enable-benchmarks

    - name: Test
      run: |
        cd alex-*/
        ALEX="$(cabal list-bin alex)"
        export ALEX
        cabal run --enable-tests alex:test:tests

    - name: Test (with debugging)
      run: |
        cd alex-*/
        ALEX="$(cabal list-bin alex)"
        export ALEX
        cabal run --enable-tests alex:test:tests-debug

    - name: Haddock
      run: |
        cd alex-*/
        cabal haddock --disable-documentation --haddock-all all

    - name: Cabal check
      run: |
        cd alex-*/
        cabal check
